body {
    margin: 0;
    padding: 0;
    background: url("https://fondosmil.com/fondo/36830.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


